
## <summary>policy for bitcoinclassic</summary>


########################################
## <summary>
##	Transition to bitcoinclassic.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`bitcoinclassic_domtrans',`
	gen_require(`
		type bitcoinclassic_t, bitcoinclassic_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, bitcoinclassic_exec_t, bitcoinclassic_t)
')


########################################
## <summary>
##	Execute bitcoinclassic server in the bitcoinclassic domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoinclassic_initrc_domtrans',`
	gen_require(`
		type bitcoinclassic_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, bitcoinclassic_initrc_exec_t)
')


########################################
## <summary>
##	Search bitcoinclassic lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoinclassic_search_lib',`
	gen_require(`
		type bitcoinclassic_var_lib_t;
	')

	allow $1 bitcoinclassic_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read bitcoinclassic lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoinclassic_read_lib_files',`
	gen_require(`
		type bitcoinclassic_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, bitcoinclassic_var_lib_t, bitcoinclassic_var_lib_t)
')

########################################
## <summary>
##	Manage bitcoinclassic lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoinclassic_manage_lib_files',`
	gen_require(`
		type bitcoinclassic_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, bitcoinclassic_var_lib_t, bitcoinclassic_var_lib_t)
')

########################################
## <summary>
##	Manage bitcoinclassic lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoinclassic_manage_lib_dirs',`
	gen_require(`
		type bitcoinclassic_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, bitcoinclassic_var_lib_t, bitcoinclassic_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a bitcoinclassic environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`bitcoinclassic_admin',`
	gen_require(`
		type bitcoinclassic_t;
		type bitcoinclassic_initrc_exec_t;
		type bitcoinclassic_var_lib_t;
	')

	allow $1 bitcoinclassic_t:process { ptrace signal_perms };
	ps_process_pattern($1, bitcoinclassic_t)

	bitcoinclassic_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 bitcoinclassic_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, bitcoinclassic_var_lib_t)

')

